.homePage {
    padding-left: 24px;
    color: black;
    margin-bottom: 24px;
}

.movieList {
    list-style: outside;
}

.item {
    color: black;
}
.item:hover, .item:focus {
    color: rgb(184, 92, 7);
}